@import './header.css';
@import './footer.css';
@import './general.css';
@import './alert.css';

/* Leftside */

main {
  margin-top: 100px;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar-brand,
.sidebar-price {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin-bottom: 30px !important;
}
.brandlist li {
  border-bottom: none;
  cursor: pointer;
}

.brandlist li:hover span {
  cursor: pointer;
  color: var(--primary_color);
}

.brandlist li span {
  font-size: 16px;
}
.brandlist li,
.sidebar-title {
  height: 50px;
  border-top: 1px solid #ebebeb;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-title {
  background-color: #f2f2f2;
  justify-content: left;
}

.sidebar-title i {
  color: var(--primary_color);
  font-size: 20px;
  margin-right: 10px;
}

.sidebar-filter__content {
  width: 85%;
  margin: 0 auto;
}

.sidebar-price div:nth-child(2) input {
  width: 100px;
  padding: 5px;
}

/* Products Info */

.content-slider,
.content-slider img {
  width: 100%;
}

.search-box {
  height: 30px;
  border: 1px solid #000;
  display: flex;
}
.search-box i {
  line-height: 30px;
  padding: 0 10px;
}
.search-box .search-box-input {
  width: 100%;
  border: none;
  outline: none;
}

.rightside > div,
.main-content > div {
  margin-bottom: 30px;
}
.main-content__options {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.display-btns button {
  width: 40px;
}
.sort-products {
  padding: 0 10px;
}
.sort-products option {
  color: #000;
  background-color: #fff;
}
.display-btns button,
.sort-products {
  height: 100%;
  color: #fff;
  background-color: #191919;
  border: none;
}
.display-btns button:hover {
  background-color: var(--primary_color);
}

.active {
  background-color: var(--primary_color) !important;
}

/* Square Display */

.main-content__square {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.square {
  width: 250px;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 30px;
}
.square > div,
.square-img,
.square-bottom > div {
  margin-bottom: 10px;
}
.square .square-price,
.pillar .pillar-price,
.detail-price {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary_color);
}
.square .square-img {
  height: 250px;
  flex-shrink: 0;
}
.square-img > img {
  width: 100%;
  height: 100%;
}
.square .square-img img {
  width: 100%;
}
.square-top span {
  font-size: 18px;
  line-height: 25px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}
.square-bottom {
  padding: 0 10px;
}
.product-sold,
.product-sold-number {
  font-size: 16px;
  color: gray;
}
.product-sold {
  font-weight: 500;
  font-style: italic;
  margin-right: 10px;
}

/* Pillar Display */
.main-content__pillar {
  display: none;
  flex-direction: column;
  animation: FtPrAni 0.3s linear;
  transition: all 0.3s ease;
}

.pillar {
  display: flex;
  width: 100%;
  margin: 20px 0;
  height: 250px;
  overflow: hidden;
}

.pillar-img {
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  width: 250px;
  height: 100%;
  flex-shrink: 0;
}

.pillar-img img {
  width: inherit;
  object-fit: contain;
  height: 100%;
}
.pillar-content__top > div {
  margin-bottom: 10px;
}
.pillar-content__top a {
  font-size: 24px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.rating-star i.checked {
  color: orange;
}

.pillar-content__detail {
  font-size: 16px;
  color: var(--text_color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.pillar_content_btn button {
  margin: 0 10px 0 0;
}

.detail-btn {
  background-color: #000;
  color: #fff;
}
.detail-btn:hover {
  background-color: var(--primary_color);
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.square-btn,
.pillar-btn {
  outline: none;
}

/* Pagination */

.pagination-mode {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.pagination-mode button {
  border: none;
  outline: none;
  background-color: transparent;
}
.pagination span {
  margin: 0 10px;
  cursor: pointer;
}
.prev {
  margin-right: 5px;
}
.next {
  margin-left: 5px;
}

/* Product Detail */
.product-detail__top {
  display: flex;
}
.product-detail__top .image {
  width: 300px;
  height: 300px;
  margin-right: 30px;
  flex-shrink: 0;
}

.product-detail__top .image img {
  width: 100%;
  height: 100%;
  border: 1px solid #ebebeb;
  object-fit: contain;
}

.product-detail__top .image img:hover {
  border: 1px solid #b7b7b7;
  cursor: pointer;
}

.product-detail__top {
  margin-bottom: 30px;
}

.product-info {
  width: 100%;
}

.product-info__top > div,
.product-info__bottom > div {
  margin-bottom: 10px;
}

.social .title,
.brand-detail .title,
.made-in .title {
  font-size: 20px;
  font-weight: 500;
}

.social-link {
  text-decoration: none;
  border: 1px solid #d7182a;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7182a;
  margin-left: 10px;
}

.social-link i {
  display: block;
  color: #fff;
}

.social-link:hover {
  background-color: #c01526;
  transition: all 0.3s;
}

.social-link:hover i {
  color: #fff;
}

.quantity-modifier {
  font-size: 16px;
  display: flex;
  margin-right: 20px;
}

.quantity-modifier input {
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  text-align: center;
}

.quantity-modifier .quantity {
  font-weight: 600;
  background-color: #f2f2f2;
  width: 50px;
}

.quantity-modifier .minus,
.quantity-modifier .plus {
  background-color: #d7182a;
  color: #fff;
}

.quantity-modifier .minus:hover,
.quantity-modifier .plus:hover {
  background-color: #000;
}

.addcart-btn {
  background-color: #d7182a;
  padding: 0 8px;
  line-height: 30px;
  color: #fff;
}
