table {
  text-align: center;
  color: #554d4d;
  width: 100%;
  line-height: 40px;
  border-collapse: 0;
}

tr,
td {
  border: 1px solid black;
}

td img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin: 10px;
}

tr td:nth-child(1) {
  width: 200px;
}
tr td:nth-child(2) {
  width: 40%;
}

.edit-qty {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.edit-qty input {
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  text-align: center;
}

.edit-qty .quantity {
  background-color: transparent;
  width: 50px;
}

.edit-qty .minus,
.edit-qty .plus {
  background-color: #d7182a;
  color: #fff;
  line-height: 32px;
}

.edit-qty .minus:hover,
.edit-qty .plus:hover {
  background-color: #000;
}

.btns button {
  width: 40px;
  height: 40px;
}
