@import './general.css';
@import './header.css';
@import './footer.css';

/* --------------------------------------------------------  Section -------------------------------------------------------- */

.wrapper {
  background-color: #f2f2f2;

  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
}

#contents table {
  text-align: center;
  color: #554d4d;
  width: 100%;
  line-height: 2.5;
  border-collapse: 0;
}

tr,
td {
  border: 1px solid black;
}

#btn-delete {
  text-align: center;
}

#btn-delete > button {
  border: none;
  font-size: 30px;
}

td img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 20px;
}
