<div class="nav">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="nav-left">
      <a href="index.html"><img src="./image/header/logo.png" /></a>
    </div>
    <div class="nav-mid">
      <ul>
        <li>
          <a href="index.html"><span>PRODUCTS</span></a>
        </li>
        <li class="brand-list">
          <span>BRANDS</span>
          <i class="fas fa-sort-down"></i>
          <div class="brand"></div>
        </li>
        <li>
          <span><a href="wishlist.html">WISHLIST</a></span>
        </li>
        <li>
          <a href="#"><span>ABOUT US</span></a>
        </li>
        <li>
          <a href="#"><span>CONTACT US</span></a>
        </li>
      </ul>
    </div>
    <div class="nav-right d-flex align-items-center justify-content-end">
      <div class="search_box">
        <input type="text" class="search_box_input" />
        <button class="search_box_btn"><i class="fas fa-search"></i></button>
      </div>
      <div class="cart">
        <a href="../layout/checkout.html"
          ><i class="fas fa-shopping-cart"></i
        ></a>
        <div class="cart_noti">
          <span>0</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bread-crumb -->
<div class="container">
  <div class="bread-crumb">
    <ul>
      <li>
        <span>Home</span>
      </li>
    </ul>
  </div>
</div>
