<div class="nav">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="nav-left">
      <a href="index.html"><img src="./image/logo.png" /></a>
    </div>
    <div class="nav-mid">
      <ul>
        <li>
          <a href="index.html"><span>HOME</span></a>
        </li>
        <li class="">
          <span>ADD PRODUCTS</span>
          <div class="brand"></div>
        </li>
        <li>
          <span><a href="wishlist.html">WISHLIST</a></span>
        </li>
        <li>
          <a href="#"><span>ABOUT US</span></a>
        </li>
        <li>
          <a href="#"><span>CONTACT US</span></a>
        </li>
      </ul>
    </div>
    <div class="nav-right">
      <div class="cart">
        <a href="../layout/checkout.html"
          ><i class="fas fa-shopping-cart"></i
        ></a>
        <div class="cart_noti">
          <span>0</span>
        </div>
      </div>
    </div>
  </div>
</div>
